<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test Suite">
    <test name="Test Sign Up">
        <classes>
            <class name="com.shoppingcart.SignUp"/>
        </classes>
    </test>
    <test name="Test Shopping Cart">
        <classes>
            <class name="com.shoppingcart.ShoppingCart"/>
        </classes>
    </test>
</suite>